<!DOCTYPE html>
<html lang="en">
<head>
 <% include head %> 
</head>
<body>
<% include menu %>

<div class="container-fluid bg-3 text-center">    
  <h1><%= page %></h1>
  <hr>  

  <div class="names">
      <h4>François TRANCART : IF - Fintech</h4><br>
      <h4>Nicolas LECOUFLET : IF - Fintech</h4><br>
      <h4>Gaya AOUES : IBO - Fintech</h4><br>
      <h4>Rémi SINNO : IF - Data Science</h4>
  </div>
</div>
</body>
<% include script %>
</html>
